@model ShoppingCartRowsViewModel

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "_Layout";
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>CommodityId</th>
                <th>CommodityTitle</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Rows.Count(); i++)
            {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.Rows[i].CommodityId</td>
                <td>@Model.Rows[i].CommodityTitle</td>
                <td>@Model.Rows[i].Quantity</td>
            </tr>
            }
        </tbody>
    </table>
</div>

AddCommodity
<form asp-action="AddCommodity" asp-controller="ShoppingCart" method="post">
    <input type="number" name="commodityId" placeholder="CommodityId">
    <input type="number" name="quantity" placeholder="Quantity">
    <input type="submit">
</form>

RemoveCommodity
<form asp-action="RemoveCommodity" asp-controller="ShoppingCart" method="post">
    <input type="number" name="commodityId" placeholder="CommodityId">
    <input type="submit">
</form>

UpdateCommodity
<form asp-action="UpdateCommodity" asp-controller="ShoppingCart" method="post">
    <input type="number" name="commodityId" placeholder="CommodityId">
    <input type="number" name="quantity" placeholder="Quantity">
    <input type="submit">
</form>