﻿@{
    ViewBag.Title = "Stock Transaction History";
    Layout = "_Layout";
}

<div id="history">
    <nav class="navbar" style="background-color: #3b5998">
        <div class="container-fluid d-flex">
            <h1 style="color: white">Stock Transactions</h1>
            <div class="d-flex align-items-end">
                <button type="button"
                        class="btn btn-success"
                        style="margin-left: 4px"
                        data-toggle="modal"
                        data-target="#addTransactionModal">
                    + Create
                </button>
            </div>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Ticker</th>
                <th scope="col">Action</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="dto in transactionDtoList" :id="dto.id">
                <td>{{ dto.date }}</td>
                <td>{{ dto.ticker }}</td>
                <td>{{ dto.action }}</td>
                <td>{{ dto.quantity }}</td>
                <td>${{ dto.price }}</td>
                <td>${{ dto.total }}</td>
                <td>
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger" @@click="deleteTransaction(dto.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade"
         id="addTransactionModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Create Transaction
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body pl-5 pr-5">
                    <div class="row">
                        <div class="col">
                            <label for="transactionDate">Date</label>
                            <input class="form-control form-control-sm" type="date" id="transactionDate" name="date" value="" required=""/>
                        </div>
                        <div class="col">
                            <label for="transactionTicker">Ticker</label>
                            <input class="form-control form-control-sm" type="text" id="transactionTicker" name="Ticker" value="" required="" placeholder="TSLA"/>
                        </div>
                        <div class="col">
                            <label for="transactionAction">Action</label>
                            <select class="form-control form-control-sm" id="transactionAction" name="Action" v-model="selectedAction">
                                <option v-for="action in stockTransactionActions" :value="action">{{ action }}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="transactionQuantity">Quantity</label>
                            <input class="form-control form-control-sm" type="number" step="0.01" id="transactionQuantity" name="Quantity" value="" required=""/>
                        </div>
                        <div class="col">
                            <label for="transactionPrice">Price</label>
                            <input class="form-control form-control-sm" type="number" step="0.01" id="transactionPrice" name="Price" value="" required=""/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        x Close
                    </button>
                    <button type="button" class="btn btn-primary" @@click="addTransaction">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    const vm = Vue.createApp({
        data() {
            return {
                transactionDtoList: [],
                stockTransactionActions: [],
                selectedAction: ""
            }
        },
        methods: {
            deleteTransaction: async (transactionId) => {
                const response = await axios.get(`/api/stockTransaction/delete?transactionId=${transactionId}`);
                if (response.status === 200) {
                    $(`#${transactionId}`).remove();
                    alert('delete success');
                } else {
                    alert('delete fail');
                }
            },
            addTransaction: async () => {
                const stockTransaction = {
                    Ticker: $('#transactionTicker').val(),
                    Date: $('#transactionDate').val(),
                    Action: $('#transactionAction').val(),
                    Price: Number($('#transactionPrice').val()),
                    Quantity: Number($('#transactionQuantity').val())
                }
                const response = await axios.post(`/api/stockTransaction/add`, stockTransaction, {
                    headers: { 'Content-Type': 'application/json' },
                    responseEncoding: 'utf8'
                });
                if (response.status === 200) {
                    alert('add success');
                    window.location.reload();
                } else {
                    alert('add fail');
                }
            }
        },
        async created() {
            let response = await axios.get("/api/stockTransaction/getAll");
            this.transactionDtoList = response.data;
            response = await axios.get("/api/stockTransaction/getAllStockTransactionActions");
            this.stockTransactionActions = response.data;
            this.selectedAction = this.stockTransactionActions[0];
        }
    }).mount("#history");

    $("#transactionTicker").focus();
    $("#transactionDate").val(new Date().toISOString().slice(0, 10));
</script>
