@model string

<!DOCTYPE html>

<html>
<head>
    <title>History</title>
</head>
<body>
<form asp-controller="Portfolio" asp-action="Index" method="post">
    <div class="form-group">
        <label for="Date">Date</label>
        <input class="form-control" type="date" id="Date" name="Date" value="" />
    </div>
    <div class="form-group">
        <label for="Ticker">Ticker</label>
        <input class="form-control" type="text" id="Ticker" name="Ticker" value="" />
    </div>
    <div class="form-group">
        <label for="Action">Action</label>
        <input class="form-control" type="text" id="Action" name="Action" value="" />
    </div>
    <div class="form-group">
        <label for="Quantity">Quantity</label>
        <input class="form-control" type="number" id="Quantity" name="Quantity" value="" />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input class="form-control" type="number" id="Price" name="Price" value="" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    @Model
</div>
</body>

<script>
    document.getElementById('Ticker').focus();
    document.getElementById('Date').valueAsDate = new Date();
</script>

</html>