﻿@model IEnumerable<StockPosition>

@{
    ViewBag.Title = "Position";
    Layout = "_Layout";
}

<div id="position">
    <nav class="navbar" style="background-color: #3b5998">
        <div class="container-fluid d-flex">
            <h1 style="color: white">Stock Positions</h1>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">AveragePrice</th>
                <th scope="col">CurrentPrice</th>
                <th scope="col">Change %</th>
                <th scope="col">Change $</th>
                <th scope="col">Cost</th>
                <th scope="col">CurrentValue</th>
                <th scope="col">Gain %</th>
                <th scope="col">Gain $</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="position in stockPositionList">
                <td>{{ position.ticker }}</td>
                <td>{{ position.shares }}</td>
                <td>{{ position.averagePrice }}</td>
                <td>$ {{ position.currentPrice }}</td>
                <td v-if="position.change >= 0" style="color: green">{{ position.percentageOfChange }}</td>
                <td v-else style="color: red">{{ position.percentageOfChange }}</td>
                <td v-if="position.Change >= 0" style="color: green">{{ position.change }}</td>
                <td v-else style="color: red">{{ position.change }}</td>
                <td>${{ position.cost }}</td>
                <td>${{ position.currentValue }}</td>
                <td v-if="position.gain >= 0" style="color: green">{{ position.percentageOfGain }}</td>
                <td v-else style="color: red">{{ position.percentageOfGain }}</td>
                <td v-if="position.gain >= 0" style="color: green">{{ position.gain }}</td>
                <td v-else style="color: red">{{ position.gain }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    const vm = Vue.createApp({
        data () {
            return {
                stockPositionList: []
            }
        },
        async created () {
            const response = await axios.get("/api/portfolio/getStockPositions");
            this.stockPositionList = response.data;
        }
    }).mount("#position");
</script>